<div>
  
  <div>

    <h3>Template-driven form sample</h3>

    <form #templateForm="ngForm">
      <app-chip-input name="chips" [(ngModel)]="charactersChips"></app-chip-input>
    </form>

    <ul>
      <h4>Output:</h4>
      <li *ngFor="let chip of charactersChips">
        <pre>{{chip | json}}</pre>
      </li>
    </ul>

  </div>

  <div>
    
    <h3>Model-driven form sample</h3>

    <form [formGroup]="charactersForm">
      <app-chip-input formControlName="chips"></app-chip-input>
    </form>

    <h4>Output:</h4>
    <pre>{{ charactersForm.value | json }}</pre>

  </div>

</div>