<div>

  <h1>Chip input component in action</h1>
  
  <div>

    <h2>Template-driven form sample</h2>

    <form #templateForm="ngForm">
      <app-chip-input name="chips" [(ngModel)]="charactersChips"></app-chip-input>
    </form>

    <h3>Output:</h3>
    <pre>{{ charactersChips | json }}</pre>

  </div>

  <div>
    
    <h2>Model-driven form sample</h2>

    <form [formGroup]="charactersForm">
      <app-chip-input formControlName="chips"></app-chip-input>
    </form>

    <h3>Output:</h3>
    <pre>{{ charactersForm.value.chips | json }}</pre>

  </div>

</div>